/* App.css or the relevant CSS file */
.App {
    cursor: default;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-image: url('/background.png');
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}