/* src/components/Desktop.css */
.desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 100px);
}

.desktop-item.selected {
    box-shadow: 0 0 0 2px #454545;
    border-radius: 4px;
    /* macOS-like blue outline */
}


.desktop-item.selected .desktop-item-label {
    background-color: #007aff;
    /* Highlight color for text label, matching macOS selection */
    color: white;
    /* Text color when selected */
    padding: 3px 6px;
    /* Adjust padding as needed to fit the design */
    border-radius: 4px;
    /* Rounded corners for the label's background */
}

.desktop-item.selected::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #007aff;
    /* Highlight color matching macOS selection */
    border-radius: 4px;
    /* Rounded corners for the selection border */
    pointer-events: none;
    /* Prevent this pseudo-element from interfering with click events */
}

.desktop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.desktop-icon {
    width: 80px;
    height: 80px;
}

.desktop-item-label {
    /* Ensure there's enough space for the background to appear without affecting the layout */
    box-sizing: border-box;
    max-width: 100%;
    /* Ensure labels do not overflow their container */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
    white-space: nowrap;
    /* Prevent the label from wrapping */
}